*.tif
*.mat
*.sev
*.Tdx
*.Tbk
*.tev
*.tsq
*.fdf
*.fif
*.fhf
*.h5
*.hdf5

*.elp
*.fdt
*.set

*.pptx
*.png

*desktop.ini
*Thumbs.db
6OHDA_ephys_newData/
Ephys_6OHDA/
ExtractedEphys/
Movement_files6OHDA/

